*.swp
*.swo
*.cf
*.o
*.wave
*.vcd
*.aux
*.log
report.pdf
build/vcd
work/
bin/
C_model/ReadElf/bin/ReadElf
C_model/ReadElf/src/ReadElf
C_model/bin/arm_sim
C_model/src/arm_sim
C_model/src/test_decod
Main_TB/main_tb
